@import '../../../styles/settings.scss';

.root {
  .table {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    border-bottom: medium;
    margin: 5px;
    align-items: center;
    .image {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
    .tableCell {
      width: 100px;
      font-size: 1rem;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
