@import '../../../styles/settings.scss';

.root {
  margin: 10px;
  .card {
    padding: 10px;
    .image {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
    .content {
      .title {
        text-transform: uppercase;
        font-weight: bold;
      }
      .price {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
      }
    }
  }
}
