
$base-size: 12px;

$background-light: #e8e4e1;
$background-dark: #562349;
$background-foot: #63A375 ;
$background-head: #645986;

$font-dark: #3f3f44;
$font-light: #f7f7f7;

$main: #E16F7C;
$second: #6C3A5C;
