@import '../../../styles/settings.scss';

.root {
  margin: 10px;

  .card {
    padding: 10px;
    .image {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title {
        text-transform: uppercase;
        font-weight: bold;
      }

      .price {
        font-size: 1rem;
        font-weight: bold;
        margin-top: 10px;
        color: $background-dark;
      }
    }
  }
}
