@import '../../../styles/settings.scss';

.root {
  text-align: center;
  margin: 20px;
  padding: 10px;
  z-index: -5;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
