
@import '../../../styles/settings.scss';

.root {

  .toolbar {
    justify-content: space-between;

    .title:hover {
      background-color: transparent;
    }

    .menu {

      button:hover {
        color: $font-light;
      }
    }
  }

}
