
@import '../../../styles/settings.scss';

.root {
  .toolbar {
    justify-content: space-between;
    background-color: $background-head;
    .menu {
      display: flex;
      color: $font-light;
    }
    .cart {
      margin: 10px;
      .cartContent {
        background: $background-light;
        padding: 5px 10px;
        margin-left: 5px;
        border-radius: 5px;
      }
    }
  }

}
