@import '../../../styles/settings.scss';

.root {
  background: $background-foot;

  .foot {
    display: flex;
    font-size: 15px;
    justify-content: space-around;
    text-align: center;
    flex-direction: row-reverse;
    .location {
      ul {
        list-style: none;
        p{
          color: $font-light
        }
      }
    }

    .media {
      margin: 30px;
      padding: 30px;
      a {
        color: $font-light;
        margin: 5px;

        &:hover {
          color: $second;
        }
      }
    }
  }
}

