@import '../../../styles/settings.scss';

.root {
  background: $background-foot;
  margin-top: 35px;
  padding-top: 15px;

  .foot {
    display: flex;
    justify-content: space-around;

    .media {

      ul {
        list-style: none;
        display: flex;
        padding: 5px;
        margin: 5px;
        a {
          color: $font-light;
          margin: 0 5px;
          font-size: 1em;

          &:hover {
            color: $second;
          }
        }
      }
    }
  }
}
