@import '../../../styles/settings.scss';

.root {
  background: $background-foot;

  .foot {
    display: flex;
    justify-content: center;

    .media {
        a {
          color: $font-light;
          margin: 5px;

          &:hover {
            color: $second;
          }
        }
      }
    }
  }

